*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: #1A1A1C;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
}
.header-container{
    padding: 20px 40px;
}
.nav{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
input{
    width: 60vw;
    padding: 15px;
    color: white;
    background-color: #1A1A1C;
    border: 1px solid white;
}
button{
    width: 18vw;
    padding: 15px;
    background-color: #1A1A1C;
    border: 1px solid white;
    cursor: pointer;
    color: white;
}
.table-container{
    padding: 0px 20px;
    width: 100%;
    overflow-x: scroll;
}
.table-container::-webkit-scrollbar{
    display: none;
}
.table-main{
    width: 1435px;
}
tbody tr{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 20px 0px;
    border-bottom:1px solid white;
}
tbody tr td:nth-child(1){
    width: 20%;
}
tbody tr td:nth-child(2){
    width: 20%;
}
tbody tr td:nth-child(3){
    width: 20%;
}
tbody tr td:nth-child(4){
    width: 20%;
}
tbody tr td:nth-child(5){
    width: 20%;
}
tbody tr td:nth-child(6){
    width: 20%;
}
.coin-img td{
    display: flex;
    align-items: center;
    gap: 10px;
}
.coin-img img{
    border-radius: 50%;
}
@media screen and (max-width: 980px) {
    .nav{
        gap: 10px;
    }
    input{
        font-size: 15px;
    }
    button{
        font-size: 15px;
    }
     .table tbody tr td{
        font-size: 15px;
    }
    .table-main{
        width: 1138px;
    }
}
@media screen and (max-width: 740px) {
    .nav{
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        height: 20vh;
    }
    input{
        width: 100%;
    }
    .btn{
        width: 100%;
    }
    button{
        width: 50%;
    }
}